@page
@model ETBD.Pages.MyFoods.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Food Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Food.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Food.Category.Name)
        </dd>
    </dl>
    <ul>
        @foreach (var action in Model.ActionsList)
        {
            <li>@action.Name</li>
        }
    </ul>
</div>
 <hr />
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Food.Id">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back</a>
</div>
