@page
@model ETBD.Pages.MyMeals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Meal Details</h1>

<div>
    <hr />
    <ul class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.Date)
        </dd>
        <dd class="col-sm-2">
            <b>Foods</b>
        </dd>
        <dt class="col-sm-10">
                @foreach (var foodmeal in Model.FoodMeals)
                {
                    <li>
                        @foodmeal.Food.Name
                    </li>
                }
        </dt>
           
    </ul>
</div>
<hr />
<div>
    <a asp-page="./Index" class="btn btn-secondary">Back</a>
</div>
