@page
@model ETBD.Pages.MyMeals.IndexModel
@{
}

<h1>Meals</h1>
<a asp-page="./Create" class="btn btn-success">Add Meal</a>
@if(@Model.Meals.Count > 0){
    <table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Foods
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@for(var i = 0; i < Model.Meals.Count(); i++) {
        <tr>
            <td>
                @Model.Meals[i].Name
            </td>
            <td>
                @Model.Meals[i].Date
            </td>
            <td>
                <ul>
                    @foreach (var food in Model.MealFoodsList[i].Foods)
                    {
                        <li>
                            @food.Name
                        </li>
                    }
                </ul>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@Model.Meals[i].Id" class="btn btn-info">Edit</a> 
                <a asp-page="./Details" asp-route-id="@Model.Meals[i].Id" class="btn btn-warning">Details</a> 
                <a asp-page="./Delete" asp-route-id="@Model.Meals[i].Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
} else {
    <h3>No meals yet</h3>
}