@page
@model ETBD.Pages.MyProfile.IndexModel
@{
}

<a asp-page="./Edit" asp-route-id="@Model.MyProfile.Id" class="btn btn-secondary">Edit</a>
<h1>@Model.MyProfile.FirstName</h1>
<h1>@Model.MyProfile.LastName</h1>
<h1>@Model.MyProfile.Age</h1>
<h1>@Model.MyProfile.Weight</h1>
<h1>@Model.MyProfile.Height</h1>
<h1>@Model.MyProfile.BMI</h1>
